h1{

     font-family: 'Coco';
     color: white;
     -webkit-text-stroke: 2px rgb(0,159,227);
}

h2{
    font-family: 'Coco';
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px rgb(0,159,227);
}

h3{
    font-family: 'Arial';
    color: rgb(255, 255, 255);
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

.titre {
    position: fixed;
    z-index: 1;
}