h1{
     font-family: 'Coco';
     color: white;
     -webkit-text-stroke: 4px rgb(0, 0, 0);
     text-shadow:0 4px 0 #00ecff, 0 -4px 0 #ff4045;
}

h2{
    font-family: 'Coco';
    color: rgb(255, 255, 255);
}


h3{
    transition: color 0.5s;
    font-family: 'Arial';
    color: rgb(255, 255, 255);
}

h3:hover{

color: #18a3df;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

.titre {
    position: fixed;
    z-index: 1;
}

